@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  margin-left: 50px;
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #94a3b8;
}

body {
  /* background: radial-gradient(50% 50% at 50% 50%, #242d41 0%, #1d2332 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: "#121F3A"; */
}

nav .nav-menu a {
  @apply relative pl-10 cursor-pointer transition-all text-sm text-[#f7f7f7] py-6;
}
nav .nav-menu a::after {
  @apply absolute w-8 h-[1px] bg-[#f7f7f7] left-0 top-1/2 -translate-y-1/2 transition-all;
  content: "";
}

nav .nav-menu a:hover::after {
  @apply w-12 bg-white;
}

nav .nav-menu a:hover {
  @apply pl-16 text-white underline underline-offset-4;
}

/* Timeline  */
.process .card .timeline {
  /* position: relative; */
}

.process .card .timeline::after {
  content: "";
  position: absolute;
  height: 150%;
  width: 2px;
  background-color: white;
  transform: translateX(7px) translateY(50%);
  z-index: -1;
  bottom: 50%;
}

.process .card .timelineTop::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: white;
  transform: translateX(7px) translateY(50%);
  z-index: -1;
  bottom: 0;
}

.process .card .timelineBottom::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: white;
  transform: translateX(7px) translateY(0);
  z-index: -1;
  top: -50%;
}
.process .card .timeline:last-child:after {
  display: none;
  content: ".";
}

.title-bar {
  position: relative;
}

.title-bar::after {
  @apply absolute left-0 h-full w-1;
  background-color: "#FFCC30";
}

/* Basis */

.basis-banner {
  @apply min-h-[550px] h-[550px] bg-cover  bg-no-repeat relative w-full;
  background-image: url("/images/basis/banner-1.jpg");
}

iframe {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  border-radius: 10px;
  overflow: hidden;
}

.basis-content {
  font-family: "Noto Sans Bengali", Sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #67469c;
  line-height: 35px;
}
.basis-content p {
  margin-bottom: 1rem;
}

.basis-content h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 26px;
  font-weight: 700;
}

.basis-content h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .basis-banner {
    @apply min-h-[760px] h-[760px] bg-cover bg-no-repeat;
    background-image: url("/images/basis/banner-2.jpg");
    background-position: center -50px;
    background-color: #53398e;
  }

  .avater-img {
    @apply mx-auto;
    max-height: 450px;
  }
}
