@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  margin-left: 50px;
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #94a3b8;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #242d41 0%, #1d2332 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: "#121F3A";
}

nav .nav-menu a {
  @apply relative pl-10 cursor-pointer transition-all text-sm text-[#f7f7f7] py-6;
}
nav .nav-menu a::after {
  @apply absolute w-8 h-[1px] bg-[#f7f7f7] left-0 top-1/2 -translate-y-1/2 transition-all;
  content: "";
}

nav .nav-menu a:hover::after {
  @apply w-12 bg-white;
}

nav .nav-menu a:hover {
  @apply pl-16 text-white underline underline-offset-4;
}

/* Timeline  */
.process .card .timeline {
  /* position: relative; */
}

.process .card .timeline::after {
  content: "";
  position: absolute;
  height: 150%;
  width: 2px;
  background-color: white;
  transform: translateX(7px) translateY(50%);
  z-index: -1;
  bottom: 50%;
}

.process .card .timelineTop::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: white;
  transform: translateX(7px) translateY(50%);
  z-index: -1;
  bottom: 0;
}

.process .card .timelineBottom::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: white;
  transform: translateX(7px) translateY(0);
  z-index: -1;
  top: -50%;
}
.process .card .timeline:last-child:after {
  display: none;
  content: ".";
}

.title-bar {
  position: relative;
}

.title-bar::after {
  @apply absolute left-0 h-full w-1;
  background-color: "#FFCC30";
}
